<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div id="yeah">
            <h2>total messages : {{global_total}}</h2>
            <table>

                <tr>

                    <td><message_board title="atu" v-on:add_to_global_total="count_global"></message_board></td>
                    <td><message_board title="paddu" v-on:add_to_global_total="count_global"></message_board></td>
                    <td><message_board title="daddu" v-on:add_to_global_total="count_global"></message_board></td>

                </tr>

            </table>

        </div>


        <script>
            Vue.config.devtools = true;

            Vue.component("message_board", {
                props:[`title`],
                template: `
                <div>
                  <h3>{{title}}</h3>
                  <label>your name : </label>
                  <input type="text" v-model="visitor_name" />
                  <label>Your message : </label>
                  <input type="text" v-model="visitor_msg" @keyup.enter="sayHI" />

                  <button v-on:click="sayHI">nigga</button>

                  <ul>
                      <li v-for="message in messages">
                          {{message["visitor_name"]}} : {{message["visitor_message"]}}
                      </li>
                  </ul>
                </div>
                `,

                data: function () {
                    return {
                        visitor_name: "",
                        visitor_msg: "",
                        messages: [],
                    };
                },
                methods: {
                    sayHI: function () {
                        this.messages.push({
                            visitor_name: this.visitor_name,
                            visitor_message: this.visitor_msg,
                        });
                        this.visitor_name = "";
                        this.visitor_msg = "";
                        this.$emit("add_to_global_total");
                    },
                },

                computed: {
                    count: function () {
                        return this.messages.length;
                    },
                },
            });

            const app = new Vue({
                el: "#yeah",
                data : {
                  global_total : 0,
                },
                methods: {
                  count_global: function(){
                    this.global_total = this.global_total + 1
                  },
                },
                beforeCreate : function(){
                  console.log("before create");
                  console.log(this.global_total);
                  
                },
                created: function(){
                  //fetch data 
                  console.log("after create");
                  console.log(this.global_total);
                },
                beforeMount: function(){
                  console.log("before mounted");
                  console.log(this.$el);
                  
                  
                },
                mounted : function(){
                  // fetch data from backend
                  console.log("after mounted");
                  console.log(this.$el);
                  
                },
                beforeUpdate: function(){
                  console.log("before update");
                },
                updated : function(){
                  console.log("after update");
                }
            });
        </script>
    </body>
</html>
